<link rel="stylesheet" href="/stylesheets/auth-style.css" />

<div class="create-login-position">
  <h1 class="register-title">Please login</h1>

  <form action="/auth/login" method="POST">
    <label class="form-labels">
      Username
      <input
        type="text"
        name="username"
        class="input-fields"
        placeholder="Your virtual name"
      />
    </label>
    <label class="form-labels">
      Password
      <input
        type="password"
        name="password"
        class="input-fields"
        placeholder="Your password"
      />
    </label>
    <div class="btn-container">
      <button type="submit" class="create-login-btn">Submit</button>
    </div>
  </form>
</div>

{{! <h1>Please login</h1>

<form action="/auth/login" method="POST" class="login-form">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit" class="create-login-btn">Submit</button>
</form> }}

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}