<link rel="stylesheet" href="/stylesheets/settings-style.css" />

<div class="settings-outercontainer">
  <div class="settings-title-container">
    <h1>Welcome</h1>
  </div>

  <div>
    <ul class="settings-questions">

      <li>
        <a class="settings-questions-links" href="/settings/update-user">Feel
          like updating your profile? Click In this line</a>
      </li>
      <li>
        <a
          class="settings-questions-links"
          href="/settings/update-password"
        >Change your password</a>
        <li>
          <a
            class="settings-questions-links"
            href="/settings/profile-pic"
          >Change your profile picture</a>
        </li>
      </li>
    </ul>
  </div>

  <div>
    <img src="/images/coffee.png" class="coffee-img" />
  </div>
</div>