<h1>Welcome</h1>

<ul>
  <li>
    <a href="/settings/update-user">Feel like updating your profile? Click In
      this line</a>
  </li>
  <li>
    <a href="/settings/update-password">Change your password</a>
    <li>
      <a href="/settings/profile-pic">Change your profile picture</a>
    </li>
  </li>
</ul>