<link rel="stylesheet" href="/stylesheets/settings-style.css" />

<h1 class="succes-title">Successfully changed your credentials!</h1>

<div class="succes-img-container">
  <img src="/images/cooking.png" class="succes-img" />
</div>