<h1>Change password</h1>

<form method="post" action="/settings/update-password">
  <label>Current Password
    <input
      type="password"
      name="currentPassword"
      placeholder="Your current password"
    />
    {{#if passwordError}}
      <div>{{passwordError}}</div>
    {{/if}}
  </label>
  <br />

  <label>New Password
    <input type="password" name="newPassword" placeholder="Your new password" />
    {{#if passwordError}}
      <div>{{passwordError}}</div>
    {{/if}}
  </label>
  <br />
  <label>New Password Again
    <input
      type="password"
      name="newPasswordAgain"
      placeholder="Your password, but again"
    />
    {{#if passwordError}}
      <div>{{passwordError}}</div>
    {{/if}}
  </label>
  <br />
  <button type="submit">Change password</button>
</form>