<link rel="stylesheet" href="/stylesheets/auth-style.css" />

<div class="create-login-position">
  <h1 class="register-title">Change password</h1>
  <form method="post" action="/settings/update-password">
    <label class="form-labels">Current Password:
      <input
        type="password"
        name="currentPassword"
        placeholder="Your current password"
        class="input-fields"
      />
      {{#if passwordError}}
        <div>{{passwordError}}</div>
      {{/if}}
    </label>
    <br />

    <label class="form-labels">New Password:
      <input
        type="password"
        name="newPassword"
        placeholder="Your new password"
        class="input-fields"
      />
      {{#if passwordError}}
        <div>{{passwordError}}</div>
      {{/if}}
    </label>
    <br />
    <label class="form-labels">Confirm New Password:
      <input
        type="password"
        name="newPasswordAgain"
        placeholder="Confirm new password"
        class="input-fields"
      />
      {{#if passwordError}}
        <div>{{passwordError}}</div>
      {{/if}}
    </label>
    <br />
    <div class="btn-container">
      <button type="submit" class="create-login-btn">Change password</button>
    </div>
  </form>

</div>