<link rel="stylesheet" href="/stylesheets/auth-style.css" />

<div class="create-login-position">

  <h2 class="register-title">Update user:</h2>

  {{! update username, update email }}
  <form method="post" action="/settings/update-user">
    <label class="form-labels">Username:
      <input
        type="text"
        name="username"
        placeholder="Username"
        value="{{user.username}}"
        class="input-fields"
      />
    </label>
    <br />

    <label class="form-labels">Email:
      <input
        type="text"
        name="email"
        placeholder="Email"
        value="{{user.email}}"
        class="input-fields"
      />
    </label>
    <br />
    <div class="btn-container">
      <button type="submit" class="create-login-btn">Change settings</button>
    </div>
  </form>

  {{#if emailError}}
    emailError
  {{/if}}

  {{#if usernameError}}
    usernameError
  {{/if}}

  {{#if errorMessage}}
    errorMessage
  {{/if}}

</div>