<link rel="stylesheet" href="/stylesheets/personal-style.css" />

<div class="personal-page-container">

  <h1 class="profile-title">Profile of: {{user.username}}</h1>

  <img src={{user.profilePic}} alt="profile-pic" class="profile-img" />

  <label class="personal-labels">Your email:
    {{user.email}}.
    <br />
    Nice to see you today!</label>
  <label class="personal-labels">
    Your id number is:
    <br />
    {{userId}}
  </label>
</div>