<h1>Hello from the personal page of {{user.username}}</h1>

<div>
  Your email is
  {{user.email}}. Nice to see you today
</div>

<div>
  {{!-- Your Profile pic:
  <img src="{{user.profilePic}}" alt="profile-pic" /> --}}
  Test
</div>

<div>
  In case you do not know, your id is
  {{userId}}
</div>