<div class="personal-page-container">

  <div class="personal-page-element">
    <h1 class="profile-title">Hello from the personal page of {{username}}</h1>
  </div>

  {{!-- <div class="personal-page-element">
    Your email is Nice to see you today
    {{user.email}}
  </div> --}}

  <div class="personal-page-element">
    Your Profile pic:
    <img src={{user.profilePic}} alt="profile-pic" />
  </div>

  <div class="personal-page-element">
    In case you do not know, your id is
    {{user.userId}}
  </div>

</div>