/*RESTAURANTS STYLING */

.all-restaurant-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-all-restaurant {
  list-style: none;
}

.all-restaurants-title,
.all-restaurants-controllers {
  margin: 0.5rem 0rem;
}

.restaurant-label {
  display: flex;
  padding: 2px;
}

.restaurant-info {
  font-weight: bold;
  padding-left: 0.3rem;
}

.add-restaurant-label,
.create-restaurant-btn {
  margin: 0.5rem 0rem;
}

.delete-restaurant-btn {
  height: 35px;
  min-width: 200px;
  background: var(--primary-bg-color);
  border: none;
  outline: none;
  color: black;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  border-bottom: 2px solid darken (var(--primary-bg-color), 3%);
  border-radius: 10px;
}
.delete-restaurant-btn:hover {
  background: darken(#ef4d2d, 5%);
  box-shadow: 0 4px 1px darken(var(--primary-bg-color), 5%);
  border-bottom: 2px solid darken(var(--primary-bg-color), 8%);
  transition: all 0.1s ease-in;
  color: #ccc3bb;
}

.delete-restaurant-btn:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

.edit-restaurant-btn {
  height: 35px;
  min-width: 200px;
  background: #ccc3bb;
  border: none;
  outline: none;
  color: black;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
  border-bottom: 2px solid darken (var(--primary-bg-color), 3%);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.edit-restaurant-btn:hover {
  background: darken(#ef4d2d, 5%);
  box-shadow: 0 4px 1px darken(var(--primary-bg-color), 5%);
  border-bottom: 2px solid darken(var(--primary-bg-color), 8%);
  transition: all 0.1s ease-in;
  color: black;
}

.edit-restaurant-btn:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}
