/************** CSS VARIABLES **************/
:root {
  --primary-bg-color: #ef4d2d;
}

/************** RESET CSS **************/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

/************** GLOBAL STYLES **************/
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Heebo", sans-serif;
}

.app-title {
  display: flex;
  justify-content: center;
}

.nav-container {
  background-color: var(--primary-bg-color);
}

.logo-img {
  width: 120px;
}

nav {
  /* max-width: 1000px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

a:hover {
  background-color: #ccc3bb;
  transition: 0.3s;
  padding: 10px;
  border-radius: 10px;
}

nav > ul {
  list-style-type: none;
}
.nav-links {
  display: flex;
  gap: 1rem;
}

.container {
  /* max-width: 1000px; */
  margin: 0 auto;
  width: 100%;
  background: #458699;
  padding: 1rem;
}

.login-form {
  padding-top: 50px;
  display: flex;
  gap: 20px;
}

footer {
  text-align: center;
  background-color: var(--primary-bg-color);
  padding: 1rem;
}

.settings-outercontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.settings-questions {
  list-style-type: none;
}

.settings-title-container,
.settings-questions-links {
  margin: 0.5rem 0rem;
}

.personal-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.personal-page-element {
  margin: 0.5rem 0rem;
}

.all-restaurants-title,
.all-restaurants-controllers {
  margin: 0.5rem 0rem;
}

.restaurant-label {
  display: flex;
}

.restaurant-info {
  font-weight: bold;
  padding-left: 0.3rem;
}

.add-restaurant-label,
.create-restaurant-btn {
  margin: 0.5rem 0rem;
}

/************** TYPOGRAPHY **************/
.title {
  text-align: center;
  margin: 1rem 0;
}
