<h1>Please add your favorite restaurant</h1>

<form method="post" action="/restaurant/add">
  <label class="add-restaurant-label" for="restaurantName">
    Restaurant Name
    <input type="text" id="restaurantName" name="restaurantName" placeholder="Restaurant Name" />
  </label>
  <br />
  <label class="add-restaurant-label" for="description">
    Description
    <input
      type="text"
      id="description"
      name="description"
      placeholder="Describe Restaurant"
    />
  </label>
  <br />
  <label class="add-restaurant-label" for="city">
    City
    <input
      type="text"
      id="city"
      name="city"
      placeholder="City"
    />
  </label>
  <br />
  <label class="add-restaurant-label" for="website">
    Website
    <input
      type="text"
      id="website"
      name="website"
      placeholder="Website"
    />
  </label>
  <br />
  <button class="create-restaurant-btn" type="submit">Create your restaurant</button>
</form>

{{#if createdRestaurant}}
  <h4>Thank you for creating
    <a href="/restaurant/{{createdRestaurant._id}}">{{createdRestaurant.title}}</a></h4>
{{/if}}